/* INDEX */

html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

#index-title{
  font-size: 25px;
  font-family: 'Poiret One', cursive;
}

@media (min-width: 768px) { 
  #index-title{
    font-size: 35px;
    font-family: 'Poiret One', cursive;
  }
}


#index-subtitle{
  font-size: 18px;
  font-family: 'Poiret One', cursive;
}

#index-body{
  display: inline;
  background-image: url("../media/index-background.png"); 
  background-repeat: repeat;
  font-family: 'Poiret One', cursive;
}

#index-main{
    height:300px;
    margin:auto;
    margin-top:40%;
    text-align: center;
    color:lightgrey;
}

@media (min-width: 980px){
  #index-main{
    margin-top:20%;
  }
}
#index-main a{
    text-decoration: none;
    color: darkgrey;
}

/* BLOG */

/* base */
.navbar-custom {
  background-color: #1D1E1A;
  border-color: #1D1E1A;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 15px;
}

.navbar-custom .navbar-brand{
  margin-top: 7px;
}

.internal-nav-buttons{
  float: right;
  font-size: 20px;
}

.internal-nav-buttons li{
  float: right;
  margin-top: 12px;
}

.external-nav-buttons{
  float: left;
}

.intro-header {;
  background-color: #1D1E1A;
  height:250px;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

.intro-header .site-heading {
  float:left;
  color: white;
  text-align: center;
  padding-top: 125px;
  padding-left:20px;
  margin-top: 0;
  font-size: 50px;
}

@media (max-width: 400px){
  .intro-header .site-heading{
    text-align: left;
    padding-left: 10px;
    padding-top: 140px;
    font-size: 40px;
  }
}

@media (max-width: 320px){
  .intro-header{
    height: 235px;
  }
  .intro-header .site-heading{
    font-size: 32px;
    padding-top: 150px;
  }  
}

/* index */

.index-content{
  width: 300px;
  height: 1px;
  border: 1px solid black;
  margin: auto;
}

.index-post{
  border: 1px solid black;
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 50px;
}

@media (min-width: 768px){
  .index-content{
    width: 600px;
    padding-left: 25px;
  }
}

@media (min-width: 900px){
  .index-content{
    width: 800px;
  }
}

.index-post a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.index-articles{
  border: 1px dotted black ;
  width: 80%;
  padding: 30px;
  padding-bottom: 20px;
  margin: auto;
}

/* SOCIAL ICONS */

@font-face {
    font-family: 'si';
    src: url('../img/socicon.eot');
    src: url('../img/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon.woff') format('woff'),
         url('../img/socicon.ttf') format('truetype'),
         url('../img/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0;
    padding:0;
    padding-top:10px;
    padding-left:10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 31px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 18px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-github {
    background-color: #B1F279;
}
.soc-github:before {
    content:'Q';
}
.soc-linkedin {
    background-color: #D82759;
}
.soc-linkedin:before {
    content:'j';
}
.soc-tumblr {
    background-color: #FFD757;
}
.soc-tumblr:before {
    content:'z';
}
.soc-twitter {
    background-color: #3B94D9;
}
.soc-twitter:before {
    content:'a';
}


/* SOCIAL ICONS SMALL */
@font-face {
    font-family: 'si';
    src: url('../img/socicon-xs.eot');
    src: url('../img/socicon-xs.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon-xs.woff') format('woff'),
         url('../img/socicon-xs.ttf') format('truetype'),
         url('../img/socicon-xs.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon-small.svg) format(svg);
    }
}

.soc-small {
    overflow: hidden;
    margin:0; padding:0;
    padding-top: 25px;
    list-style: none;
}

@media (min-width: 400px){
  .soc-small {
    display: none;
  }
}

.soc-small li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc-small li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-small a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-small-icon-last{
    margin:0 !important;
}

.soc-small-github {
    background-color: #B1F279;
}
.soc-small-github:before {
    content:'Q';
}
.soc-small-linkedin {
    background-color: #D82759;
}
.soc-small-linkedin:before {
    content:'j';
}
.soc-small-tumblr {
    background-color: #FFD757;
}
.soc-small-tumblr:before {
    content:'z';
}
.soc-small-twitter {
    background-color: #3B94D9;
}
.soc-small-twitter:before {
    content:'a';
}


@media (max-width: 400px){
  .hide-xs{
    display: none;
  }
}
