<html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title>SALUT</title>
</head>
<body id="index-body">
    <div id="index-main">
        <h1 id="index-title">Julia Nieddu Fitremann</h1>
        <h3 id="index-subtitle"><a href="https://github.com/julia-nf">I program</a> & <a href="/blog">I have a blog</a></h3>
    </div>
</body>
</html>